# Environnements virtuels
venv/
.env/
.venv/

# IDE
.vscode/
.idea/
*.iml

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Dossiers générés par PyInstaller
build/
dist/
*.spec

# Fichiers binaires lourds
*.dll
*.pak
*.pkg
*.exe

# Configurations locales
.config/

# Cache navigateur local
configuration/data_navigation/cache/
configuration/data_navigation/storage/
configuration/data_navigation/Local\ Storage/