# ===============================
# Environnements virtuels
# ===============================
venv/
.env/
.venv/

# ===============================
# IDEs (PyCharm, VSCode, etc.)
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# Python - fichiers compilés
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Logs
# ===============================
*.log

# ===============================
# PyInstaller / build
# ===============================
build/
dist/
*.spec

# ===============================
# Fichiers volumineux Qt / binaires
# ===============================
*.dll
*.pak
*.exe
*.pkg

# ===============================
# Dossiers internes inutiles
# ===============================
Thumbs.db
.DS_Store

# ===============================
# Configurations locales
# ===============================

# Si le fichier contiens des informations sensibles ou spécifiques à l'utilisateur

# ===============================
# Données locales de navigation (cache, stockage...)
# ===============================
# Données trop volumineuse pour github et non essentielle au projet
ByItsuki-navigateur/configuration/data_navigation/


# ===============================
# Futur fichier a ajouter ici